	<footer>
		<div class="row foot" >
			<div class="col-4 ">
				<img src="images/logo-DW-LOC-TRANG.png" class="img-fluid center logofooter" style="width: 80%;">
			</div>

			<div class="col-4 sitemap ">
				<ul >
					<li><a href="/">Giới thiệu về Dreamwings English</a></li>
					<li><a href="/cac-khoa-hoc">Các khóa học</a></li>
					<li><a href="/tintuc">Tin tức sự kiện</a></li>
					<li><a href="/hoat-dong-ki-niem">Kho hình ảnh</a></li>
					<li><a href="/readingwithtony">Reading with Tony</a></li>
					<li><a href="/thong-tin-lien-lac">Liên hệ</a></li>
				</ul>
			</div>
			
			<div class="col-3 socialBtn">
				<a href="https://www.facebook.com/dreamwings.463/"><i class="fab fa-facebook fa"></i></a>
				<a href="mailto:dreamwingsenglish@gmail.com"><i class="fas fa-envelope-open-text fa"></i></a>
				<div class="contact pt-2 d-flex">
					<p class="contactContent align-self-start"><i class="fas fa-phone-alt"></i> </p>
					<p class="contactContent ml-3">Cô Khanh:<br/>0903 67 42 68<br/>0968 00 46 25<br/>
						Cô Quỳnh:<br/>0903 88 25 25</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->   

    <script src="js/jquery-3.5.1.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js" ></script>
	
	<script src="/assets/custom.js" ></script>
	<% if(url == "/online-resource/yt") {%>
		<script src="/assets/youtube.js" ></script>
	<% } %>


</body>
</html>