<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Minh Tran">
	<meta name="discription" content="Dreamwings English website">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="/">

	   <!--  Font Awesome -->
    <script src="https://kit.fontawesome.com/5c2493bbde.js" crossorigin="anonymous"></script>
	
	  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
	<!-- font link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/logo4.png"/>

	<!-- Custom CSS -->
	<link href="/assets/style.css" rel="stylesheet">

	<title>DWE |  <% if(url == "/") {%>
								Dream Wings English | Trang Chủ
					  	      <% } else { %>
								<%- title%>
					  	      <% } %>
					  		
					  	</title>

	<link rel="icon" type="image/ico" src="/images/dw-icon.png" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VNG3SDWRLH"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-VNG3SDWRLH');
		</script>

	<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "258376547661383");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

</head>

<body>

<!-- may change nav static-top to fixed-top later on -->
	<div>
	 <nav class="navbar navbar-expand-lg navbar-light fixed-top pb-0 stroke" id="mainNav">
				  <a class="navbar-brand" href="/">
					<img src="/images/dw-icon.png" width="50" height="50" alt="">
				  </a>
				   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarNavDropdown">

					<ul class="navbar-nav mr-auto">
					  <li class="nav-item">
						<a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
					  </li>

					   <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  HỌC TẬP
						</a>
						<div class="dropdown-menu mt-1" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item display-5" href="/cac-khoa-hoc">Các khóa học</a>
						  <a class="dropdown-item display-5" href="/lich-thi">Lịch thi & kiểm tra</a>
						  <a class="dropdown-item display-5" href="/thi-chung-chi-cambridge">Thông tin về các kì thi chứng chỉ Cambridge</a>
						  <a class="dropdown-item display-5" href="/tieu-chi-day-hoc-DWE">Tiêu chí dạy học của trung tâm</a>
						  <a class="dropdown-item display-5" href="/loi-ich-hoc-tieng-anh-som">Lợi ích của việc học tiếng Anh sớm</a>
						</div>
					  </li>
					  
					  <li class="nav-item">
						<a class="nav-link" href="/hoat-dong-ki-niem">HOẠT ĐỘNG</a>
					  </li>
					  
					   <li class="nav-item">
						<a class="nav-link" href="/tintuc">TIN TỨC</a>
					  </li>
					  
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  TÀI LIỆU
						</a>
						<div class="dropdown-menu mt-1" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item display-5" href="/readingwithtony">Reading With Tony</a>
						 <!--  <a class="dropdown-item display-5" href="#">Phỏng vấn Dreamwings</a> -->
						  <a class="dropdown-item display-5" href="online-resource/yt">Những kênh youtube bổ ích</a>
						</div>
					  </li>
					  
					 <li class="nav-item">
						<a class="nav-link" href="/thong-tin-lien-lac">LIÊN LẠC</a>
					  </li>

					  </ul>

					  <ul class="nav navbar-nav navbar-right signInNav">

						<!-- later -->
						<!-- <form class="form-inline mr-3">
							<input class="form-control searchBox" type="search" placeholder="Search something" aria-label="Search">
							  <button class="btn searchBtn" type="submit"><i class="fas fa-search"></i></button>
						</form> -->

					  	<% if(!currentUser){ %>
                        <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user" style="font-size: 1.8rem;"></i></a></li>
	                    <% } else { %>
	                        <li class="nav-item"><a href="#" class="nav-link">Signed In As <%= currentUser.username %></a></li>
	                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	                    <% } %>
					  </ul>

				  </div>
				</nav>
	</div>
