<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/khoahocbanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		
			<div class="my-4 " >
				<img src="images/cut1.png"  
				style="width: 100%; margin: 0 auto;" class="img-fluid d-flex justify-content-center mb-5">
								
			</div>

			<section class="pageContent">
				<div class="tuyenSinhBox py-5">
					<div class="tuyenSinhHeadings">
						<h1>TUYỂN SINH THƯỜNG XUYÊN</h1>
						<h3>ĐIỀN THÔNG TIN ĐĂNG KÝ ĐỂ NHẬN ƯU ĐÃI HẤP DẪN</h3>
					</div>
	
					<div class="row" style="width: 90%; margin: 0 auto;">
	
						<div class="col-md-3 px-3 mb-3 text-center">
							<p>*Vui lòng nhập thông tin vào để được bộ phận văn phòng liên lạc và tư vấn lớp phù hợp nhất.</p>
							<button class="btn contactBtn my-2"><a href="/cac-khoa-hoc">XEM CÁC KHÓA HỌC</a></button>
							<button class="btn contactBtn my-2"><a href="#mapContact">THÔNG TIN LIÊN LẠC</a></button>
						</div>
	
						<div class="col-md-9 px-3">
						
						<form style="width: 90%; margin: 0 auto;" action="/" method="post" name="contact-form" id="contact-form" class="formContact">
							<div class="row" >
								<div class="col-7 pb-2">
									<input type="text" class="form-control" id="tenHocVien" name="tenHocVien" placeholder="Tên Học Viên*" required>
								</div>
								<div class="col-5 pb-2">
									<input type="date" class="form-control" id="namSinhHocVien" name="namSinhHocVien" placeholder="Ngày Tháng Năm Sinh*" required>
									<p style="font-style: italic; font-size: smaller;">*Ngày Sinh Của Học Viên</p>
								</div>
								<div class="col-7 pb-2">
									<input type="text" class="form-control" id="tenPhuHuynh" name="tenPhuHuynh" placeholder="Tên Phụ Huynh">
								</div>
								<div class="col-5 pb-2">
									<input type="number" class="form-control" id="soDienThoai" name="soDienThoai" placeholder="Số Điện Thoại*" required>
								</div>
								<div class="col-12 pb-2">
									<textarea style="white-space: pre-wrap;" class="form-control" id="noiDung" 
									placeholder="Thông tin thêm về nhu cầu học/ Nội dung cần liên lạc..." name="noiDung"></textarea>
								</div>
							</div>
								<div class="floatRight">
									<p style="font-style: italic; font-size: smaller;">* Chúng tôi sẽ không chia sẻ thông tin của bạn cho bất kì tổ chức nào khác</p>
									<button class="btn tuyenSinhBtn floatRight" type="submit" value="submit">GỬI THÔNG TIN</button>
								</div>
	
							</form>
	
						</div>
					</div>
				</div>
	
		</section>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 mb-4">
					<img src="images/kindergarden.png" class="img-fluid" style="width: 80%;">
				</div>

				<div class="col-6 align-self-center">
					<h1 class="tenlop">PRE-STARTERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 3 - 5</h3>
					<p class="smallTextBigScreen">Với phương châm chú trọng phản xạ tự nhiên, trung tâm sử dụng giáo trình AMANDA AND FRIENDS của nhà xuất bản Richmond cho các bé mầm non bắt đầu tiếp xúc với tiếng Anh. Với các hoạt động vừa chơi vừa học, vừa tương tác vừa phản xạ theo phương pháp Cooperative learning (Học tập thông qua sự hợp tác), học sinh sẽ hình thành niềm yêu thích tiếng Anh từ nhỏ, tạo nền tảng vững chắc cho quá trình học ngoại ngữ lâu dài của trẻ.</p>
				</div>
				<div class="col-12 smallText">
					<p>Với phương châm chú trọng phản xạ tự nhiên, trung tâm sử dụng giáo trình AMANDA AND FRIENDS của nhà xuất bản Richmond cho các bé mầm non bắt đầu tiếp xúc với tiếng Anh. Với các hoạt động vừa chơi vừa học, vừa tương tác vừa phản xạ theo phương pháp Cooperative learning (Học tập thông qua sự hợp tác), học sinh sẽ hình thành niềm yêu thích tiếng Anh từ nhỏ, tạo nền tảng vững chắc cho quá trình học ngoại ngữ lâu dài của trẻ.</p>
				</div>
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 align-self-center">
					<h1 class="tenlop">STARTERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 6 - 7</h3>
					<p class="smallTextBigScreen">Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 1, 2 sẽ được học bộ giáo trình PHONICS OXFORD , INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ âm, câu giao tiếp đơn giản và bài đọc ngắn. Chương trình gồm ba cấp độ và kéo dài 24 tháng. Xuyên suốt quá trình học, bé được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Starters.</p>
				</div>

				<div class="col-6 mb-4">
					<img src="images/upper.png" class="img-fluid" style="width: 80%;">
				</div>

				<div class="col-12 smallText">
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 1, 2 sẽ được học bộ giáo trình PHONICS OXFORD , INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ âm, câu giao tiếp đơn giản và bài đọc ngắn. Chương trình gồm ba cấp độ và kéo dài 24 tháng. Xuyên suốt quá trình học, bé được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Starters.</p>
				</div>

				
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 mb-4">
					<img src="images/movers-feature.png" class="img-fluid" style="width: 80%;">
				</div>

				<div class="col-6 align-self-center">
					<h1 class="tenlop">MOVERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 8 - 9</h3>
					<p class="smallTextBigScreen">Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 3,4 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình gồm hai cấp độ và kéo dài 18 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Movers.</p>
				</div>
				<div class="col-12 smallText">
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 3,4 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình gồm hai cấp độ và kéo dài 18 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Movers.</p>
				</div>

			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 align-self-center">
					<h1 class="tenlop">FLYERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 9 - 11</h3>
					<p class="smallTextBigScreen">Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 5 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ pháp, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình kéo dài 12 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp, thuyết trình và cùng làm các dự án theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Flyers.</p>
				</div>

				<div class="col-6 mb-4">
					<img src="images/flyers-feature.png" class="img-fluid" style="width: 80%;">
				</div>
				<div class="col-12 smallText">
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 5 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ pháp, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình kéo dài 12 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp, thuyết trình và cùng làm các dự án theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Flyers.</p>
				</div>

				
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<section class="pageContent">
				<button type="button" class="btn btn-outline-success linkedbutton mt-3">
					<a href="/loi-ich-hoc-tieng-anh-som" id="linkLoiIch">LỢI ÍCH CỦA VIỆC HỌC TIẾNG ANH SỚM</a>
				</button>
				
		</section>

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>