<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/khoahocbanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		
			<div class="my-4 " >
				<img src="images/cut1.png"  
				style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center mb-5">
								
			</div>

		<section class="pageContent tuyensinh p-3">
			<h1 class="bigHeading mb-4" style="color: #ffff1a;">THÔNG TIN TUYỂN SINH</h1>

			<div class="tuyensinhContent">
				<h3><span class="circle mr-3">1</span><a href="/cac-khoa-hoc">Xem các khóa học</a></h3>
				<h3><span class="circle mr-3">2</span><a href="/thong-tin-lien-lac">Đăng ký test đầu vào miễn phí</a></h3>
				<h3><span class="circle mr-3">3</span><a href="/thong-tin-lien-lac">Liên hệ để tư vấn: 0903 674 268 hoặc 0903 88 25 25</a></h3>
			</div>

		</section>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-md-6 mb-4">
					<img src="images/kindergarden.png" class="img-fluid" style="width: 80%;">
				</div>

				<div class="col-6 align-self-center">
					<h1 class="tenlop">PRE-STARTERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 3 - 5</h3>
					<p>Với phương châm chú trọng phản xạ tự nhiên, trung tâm sử dụng giáo trình AMANDA AND FRIENDS của nhà xuất bản Richmond cho các bé mầm non bắt đầu tiếp xúc với tiếng Anh. Với các hoạt động vừa chơi vừa học, vừa tương tác vừa phản xạ theo phương pháp Cooperative learning (Học tập thông qua sự hợp tác), học sinh sẽ hình thành niềm yêu thích tiếng Anh từ nhỏ, tạo nền tảng vững chắc cho quá trình học ngoại ngữ lâu dài của trẻ.</p>
				</div>
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 align-self-center">
					<h1 class="tenlop">STARTERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 6 - 7</h3>
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 1, 2 sẽ được học bộ giáo trình PHONICS OXFORD , INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ âm, câu giao tiếp đơn giản và bài đọc ngắn. Chương trình gồm ba cấp độ và kéo dài 24 tháng. Xuyên suốt quá trình học, bé được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Starters.</p>
				</div>

				<div class="col-md-6 mb-4">
					<img src="images/upper.png" class="img-fluid" style="width: 80%;">
				</div>

				
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-md-6 mb-4">
					<img src="images/movers-feature.png" class="img-fluid" style="width: 80%;">
				</div>

				<div class="col-6 align-self-center">
					<h1 class="tenlop">MOVERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 8 - 9</h3>
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 3,4 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình gồm hai cấp độ và kéo dài 18 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp và cùng làm các dự án đơn giản theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Movers.</p>
				</div>
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<div class="lop-container">

		<section class="pageContent">
		
			<div class="row">
				
				<div class="col-6 align-self-center">
					<h1 class="tenlop">FLYERS</h1>
					<h3 class="dotuoi my-3">ĐỘ TUỔI: 9 - 11</h3>
					<p>Dựa theo khung chương trình CAMBRIDGE, học sinh lớp 5 sẽ được học bộ giáo trình INCREDIBLE, I-dictionary và Story Fun- tập trung chủ yếu về từ vựng, ngữ pháp, phát âm, câu giao tiếp phổ biến và bài đọc dài. Chương trình kéo dài 10 tháng. Xuyên suốt quá trình học, học sinh được khuyến khích tham gia các hoạt động nhóm, hoạt động theo cặp, thuyết trình và cùng làm các dự án theo chủ đề. Cuối chương trình, bé đạt đủ trình độ tham gia kì thi Flyers.</p>
				</div>

				<div class="col-md-6 mb-4">
					<img src="images/flyers-feature.png" class="img-fluid" style="width: 80%;">
				</div>

				
			</div>

		</section>

	</div>

	<hr class="mid-hori">

	<section class="pageContent">
				<button type="button" class="btn btn-outline-success linkedbutton mt-3">
					<a href="/loi-ich-hoc-tieng-anh-som">LỢI ÍCH CỦA VIỆC HỌC TIẾNG ANH SỚM</a>
				</button>
				
		</section>

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>