<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/lienlac.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		

	<hr class="mid-hori">

		<section class="pageContent p-3" style="width: 80%;
	border-radius: 15px; 
	background-color: lightgreen;">
			<h1 class="bigHeading mb-4" style="color: #ffff1a;">GỬI ĐƠN THÀNH CÔNG</h1>

			<div class="tuyensinhContent">
				Chúng tôi sẽ liên lạc sớm nhất có thể.
			</div>

		</section>

	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>