<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/lienlac.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		

	<hr class="mid-hori">

		<section class="pageContent tuyensinh p-3">
			<h1 class="bigHeading mb-4" style="color: #ffff1a;">GỬI ĐƠN THẤT BẠI</h1>

			<div class="tuyensinhContent">
				<p style="color: white;">Vui lòng gửi đơn lại hoặc liên lạc số điện thoại 0903674268.</p>
			</div>

		</section>

	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>