<%- include("partials/header") %>



	<!-- WALLPAPER -->
	
	
	<!-- <header id="homeHead" ><img src="images/homebanner.jpg" size="100%"></header> -->
	<section class="hero">
        <div class="hero-inner">
            <div class="hero-content-box">
				<img src="images/dw-logo-cut.png" class="hero-logo">
				<h2>DREAM WINGS ENGLISH</h2>
				<h1 class="mt-3">KHƠI DẬY ĐAM MÊ <br>
					HỨNG KHỞI HỌC TẬP</h1>
				<p class="mt-2">Trung tâm đào tạo tiếng Anh chú trọng xây dựng nền tảng, phát triển lâu dài và toàn diện.</p>

					<div class="hero-btn mt-5">
						<button><a href="#section1">TÌM HIỂU THÊM</a></button>
					</div>

			</div>
        </div>
    </section>
	<span id="section1"></span>


	<div class="container-fluid mt-5" >
		
		<section class="pageContent" > 
			<h1 class="bigHeading">TẠI SAO LẠI CHỌN DREAM WINGS ENGLISH?</h1>
			<p id="introText">Dream Wings English là trung tâm dạy học hướng đến xây dựng nền tảng lâu dài, phát triển từ bên trong các kĩ năng học tập, tự tin trong thể hiện bản thân và giao tiếp. 
				Luyện phát âm chuẩn và phản xạ nghe nói tự nhiên từ những bậc học đầu tiên là một trong những tiêu chí tiên quyết của Dream Wings English. Bên cạnh đó, trung tâm luôn chú trọng động viên việc học của từng cá nhân, kích thích sự yêu thích học ngôn ngữ, khả năng tìm tòi, khám phá và tự học lâu dài. <br /> <br />
			</p>
			
				<ul id="boxText">
					<li><b>Giá cả phải chăng</b>, hợp lý, có thể đóng hàng tháng, nửa năm hoặc một năm. </li>
					<li><b>Môi trường học tập hiện đại</b>, cập nhật giáo trình và phần mềm giảng dạy mới, phương pháp dạy tiếng anh bằng tiếng anh, kích thích trí tưởng tượng sáng tạo, hình thành kỹ năng làm việc, tư duy phản biện, làm việc nhóm.</li>
					<li><b>Môi trường học tập thân thiện</b>, giáo viên tận tâm, hiểu rõ tâm lý học sinh, luôn chia sẻ và động viên các em, theo dõi sát sao học lực từng cá nhân, hướng dẫn thái độ và hành vi tích cực của cá nhân và tập thể. </li>
					<li><b>Về thành tích:</b> Được phụ huynh công nhận là trung tâm đào tạo học viên có được phát âm chuẩn và có nền tảng, dạy theo chương trình quốc tế - hướng tới các kì thi lấy chứng chỉ quốc tế. Thực tế cho thấy, đối với các học viên được đào tạo lâu dài từ nhỏ và học đủ thời lượng theo lộ trình, thì các bé đều thi các kì thi lấy chứng chỉ quốc tế với kết quả cao, cùng với khả năng sử dụng ngôn ngữ thành thạo.</li>
					<li><b>Về mặt giáo viên:</b> được huấn luyện thường xuyên để tạo ra những phương pháp dạy và tiếp cận mới, cập nhật các phương pháo giảng dạy tiên tiến, sử dụng công nghệ nghe nhìn hiện đại.</li>
				</ul>
			
			
		</section>

	<hr class="mid-hori">

	<section class="pageContent">
			<h1 class="bigHeading">PHƯƠNG PHÁP DẠY HỌC</h1>

			<div class="row mt-5 teachingTech">

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/bookicon.png" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">NỀN TẢNG</h4>
								<p>Dạy học từ gốc, chú trọng phát triển nền tảng lâu dài để kích thích được sự tự học, sự tìm tòi.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/pronunciation.jpg" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">GIAO TIẾP</h4>
								<p>Nhấn mạnh phát âm chuẩn, phát triển bên trong, tự tin trong thể hiện và giao tiếp cho trẻ.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/Teaching.png" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">TƯƠNG TÁC</h4>
								<p>Khuyến khich sự tương tác giữa giáo viên với học sinh và sự hợp tác giữa các em học sinh.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/money.png" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">GIÁ CẢ HỢP LÝ</h4>
								<p>Chất lượng, tận tâm mà giá cả lại phải chăng, bớt gánh nặng cho phụ huynh.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/idea.png" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">SÁNG TẠO</h4>
								<p>Rèn luyện sự sáng tạo, kỹ năng học tập hiệu quả. Linh hoạt trong cách thức giảng dạy.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="row card-body">
							<div class="col-4 col-md-6">
								<img src="images/degree.png" class="img-fluid">
							</div>
							<div class="col-8 col-md-6 align-self-center">
								<h4 class="techniques">CHỨNG CHỈ QUỐC TẾ</h4>
								<p>Dạy theo chương trình quốc tế, hướng tới các kì thi chứng chỉ.</p>
							</div>
						</div>
					</div>
				</div>

			</div>

	</section>

	<hr class="mid-hori">

	<section class="pageContent">
			<h1 class="bigHeading mb-4">ĐỘI NGŨ GIÁO VIÊN</h1>

			<div class="row mt-5 teachingTech">

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mskhanh.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Bạn có thể không là người thành công, nhưng phải là người có giá trị."</h5>
								<p class="text-left">Hạnh phúc của thầy cô giáo là được góp phần trong quá trình phát triển của học sinh.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mrs. Khanh</h5>
						<span>Founder & Head Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msthu.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Mỗi hạt bắp đều có thời gian bung nở khác nhau vì vậy mỗi bé sẽ có thời gian tỏa sáng với tiếng Anh khác nhau."</h5>
								<p class="text-left">Yêu thương, quan tâm và thấu hiểu trẻ nhỏ.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Thư</h5>
						<span>Head Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msquynh.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"A good teacher cares about a child education. A great teacher cares about the whole child."</h5>
								<p class="text-left">Tận tâm, yêu thương học viên. Niềm vui lớn nhất là nhìn thấy sự lớn khôn từng ngày của các con.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mrs. Quỳnh</h5>
						<span>Adminstrator & Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msnguyen.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Children learn best when they like their teacher and they think their teacher likes them."</h5>
								<p class="text-left">Cẩn thận, tỉ mỉ, toàn tâm toàn ý trong việc dạy học. Chăm chút, yêu thương và quan tâm học trò.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mrs. Nguyên</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msnhung.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"What the teacher is, is more important than what he teaches."</h5>
								<p class="text-left">Nhiệt tình, cầu tiến, nghiêm túc nhưng yêu thương trẻ nhỏ. 
									Tận tâm, có tinh thần trách nhiệm cao trong công việc giảng dạy.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Nhung</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msdung.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Trao một con chữ là trao yêu thương cho trẻ! Niềm vui lớn dần khi thấy trẻ tiến bộ tửng ngày."</h5>
								<p class="text-left">Tận tâm, kỷ luật nhưng đầy yêu thương.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mrs. Dung</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mslinh.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"A good teacher can inspire hope, ignite the imagination, and instill a love of learning."</h5>
								<p class="text-left">Vui tươi, nhiệt tình, yêu mến và thích dạy trẻ nhỏ. Mong muốn các bé vui khỏe, chăm ngoan, học giỏi.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Linh</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mrhoai.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Thầy cô chính là người cầm tay, mở ra trí óc và chạm đến con tim."</h5>
								<p class="text-left">Nhiệt tình, quan tâm học viên. Sự tiến bộ của học viên là hạnh phúc của giáo viên.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Hoài</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mralex.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Every person is capable of greatness, they just need to be shown the way."</h5>
								<p class="text-left">Vui tính, thân thiện, quan tâm và yêu mến trẻ nhỏ. Nghiêm túc với công việc dạy học.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Alex</h5>
						<span>Foreign Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mstien.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"It is the supreme art of the teacher to awaken joy in creative expression and knowledge."</h5>
								<p class="text-left">Nhiệt huyết, vui vẻ, tận tâm. Sự phát triển và tiến bộ mỗi ngày của các bé cũng chính là niềm vui của Thầy, Cô.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Tiên</h5>
						<span>Teacher</span>
					</div>
				</div>
				
				<!-- onlY ETS FIX FORM - principle -->

				<!-- <div class="col-6 col-lg-4 mb-4">

					<div class="flip-card card">
					  <div class="flip-card-inner">
				
						<div class="flip-card-front">
						  <img src="images/msthao.jpg" class="card-img-top img-fluid" alt="...">
						  <div class="card-body">
							<h3 class="card-title">Ms. Thảo</h3>
						  </div>
						</div>
				
						<div class="flip-card-back">
						  <h1 class="mt-3">Ms. Thảo</h1>
						  <p class="mt-4">Teacher</p>
						  <p>Vui vẻ, nhiệt tình, ham học hỏi, yêu thích công việc dạy học. Hạnh phúc nhất là khi ươm mầm được
						  niềm yêu thích tiếng Anh cho các bạn nhỏ.</p>
						</div>
				
					  </div>
					</div>
				
				</div> -->

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mrhuy.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"The best teachers teach from the heart not from the books."</h5>
								<p class="text-left">Tôn trọng sự khác biệt, khuyến khích sự sáng tạo và phát triển bản thân. Xây dựng môi trường học tập
									tích cực, thoải mái và vui vẻ để mỗi học sinh đều cảm thấy hạnh phúc mỗi khi đến lớp.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Huy</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mrkhoa.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Happy teachers will change the world."</h5>
								<p class="text-left">Vui vẻ, tràn đầy năng lượng. Yêu trẻ và thích được tương tác bằng tiếng Anh cùng trẻ.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Khoa</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mstra.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Education is not preparation for life; education is life itself."</h5>
								<p class="text-left">Vui vẻ, nhiệt tình.
									Không ngừng học tập để nâng cao trình độ và kỹ năng giảng dạy.
								</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Trà</h5>
						<span>Teacher</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mrtu.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"A great teacher loves teaching others to love learning."</h5>
								<p class="text-left">Hài hước, sôi nổi và tận tâm. Luôn tạo niềm vui và hứng khởi cho học sinh.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Tú</h5>
						<span>Teacher Assistant</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/mrquan.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Teachers nurture the seeds of today so they may bloom into the flowers of tomorrow."</h5>
								<p class="text-left">Vui vẻ và năng động, nhiệt tình với học sinh.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Mr. Quân</h5>
						<span>Teacher Assistant</span>
					</div>
				</div>

				<div class="col-6 col-lg-4 mb-4">
					<div class="team-member">
						<div class="team-img">
							<img src="images/msruby.jpg" alt="team member" class="img-fluid">
						</div>
						<div class="team-hover d-flex justify-content-center">
							<div class="desk align-self-center">
								<h5>"Sự giáo dục tốt không chỉ dừng lại ở việc trao đi kiến thức, mà còn là trao đi nhận thức, thái độ và tình yêu thương vô điều kiện."</h5>
								<p class="text-left">Chăm chút, quan tâm và yêu thương học sinh. Luôn cố gắng trau dồi để có thể truyền đạt cho học sinh kiến thức và niềm đam mê tiếng Anh.</p>
							</div>
						</div>
					</div>
					<div class="team-title">
						<h5>Ms. Ruby (Tử My)</h5>
						<span>Teacher Assistant</span>
					</div>
				</div>


				


			</div>

	</section>

	<hr class="mid-hori">

	<section class="pageContent">
			<h1 class="bigHeading">CƠ SỞ VẬT CHẤT</h1>

			<div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel" data-interval="">
			  <div class="carousel-inner">

			    
			    <div class="carousel-item">
			      <img src="images/56236124_601256640378457_1019941414382862336_o.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item active">
			      <img src="images/79736157_1447301298768896_1062196299073323008_n.jpg" class="d-block w-100 " alt="...">
			    </div>
			     <div class="carousel-item">
			      <img src="images/z2362508193867_86c2218dcb9fd1dfc333a0fa944f1f2b.jpg" class="d-block w-100 " alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="images/72884133_732706443900142_6424218674684493824_n.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="images/80365766_777260006111452_2928032802303639552_o.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="images/109973790_140097121062096_2657071753882582439_o.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="images/109907063_140070487731426_5345569556321707501_o.jpg" class="d-block w-100" alt="...">
			    </div> 

				<div class="carousel-item">
					<img src="images/z2207870676722_c80a4c1afda42dee97f85cca54c7c5c8.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422069067508_e18de40d2db7bc56fb7b49f123be7b3f.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422069097723_e6a3cf401f77bb867dd244b7259342fe.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422069127017_4cc0eadf096914fb091c5a93146521d5.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422070260090_c40d40368cb360c935dcbf1c57b4d23f.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422070276357_2e4392e9041d8b786c22c0f0f6dcc62e.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422072104814_0eb40941ee128935a3d8faaff220202c.jpg" class="d-block w-100" alt="...">
				  </div>
				  
				  <div class="carousel-item">
					<img src="images/z2422073015355_4adb1eae617fed08953269504d9bba02.jpg" class="d-block w-100" alt="...">
				  </div>

				  <div class="carousel-item">
					<img src="images/z2422076428517_99ba9f7356705d05ebd6b025ab63e023.jpg" class="d-block w-100" alt="...">
				  </div>




			  </div>
			  <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>

	</section>

	<hr class="mid-hori">

	<section class="pageContent tuyensinh p-3">
			<h1 class="bigHeading mb-4" style="color: #ffff1a;">THÔNG TIN TUYỂN SINH</h1>

			<div class="tuyensinhContent">
				<h3><span class="circle mr-3">1</span><a href="/cac-khoa-hoc">Xem các khóa học</a></h3>
				<h3><span class="circle mr-3">2</span><a href="/thong-tin-lien-lac">Đăng ký test đầu vào miễn phí</a></h3>
				<h3><span class="circle mr-3">3</span><a href="/thong-tin-lien-lac">Liên hệ để tư vấn</a></h3>
			</div>

		</section>

	<hr class="mid-hori">

	<section class="pageContent map">
		<div class="row ">
			<div class="col-lg-6 mb-4 px-5">
				<div class="map-responsive ">
				<iframe class="align-self-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.8486119503544!2d106.67361182919254!3d10.78107099951989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed7bd5e84a9%3A0x204218f372a7f769!2zNDYzLzE3IEPDoWNoIE3huqFuZyBUaMOhbmcgVMOhbSwgUGjGsOG7nW5nIDEzLCBRdeG6rW4gMTAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1598617244575!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>

			<div class="col-lg-6 px-5">
				<h1 class="bigHeading"><b>DREAM WINGS ENGLISH</b></h1>

				<div class="contact mt-5 d-flex">
					<p class="contactContent align-self-start"><i class="fas fa-home"></i> </p>
					<p class="contactContent ml-3">463/17 Cách Mạng Tháng 8 <br/>Phường 13 Quận 10 <br/>Thành phố Hồ Chí Minh</p>
				</div>
				<div class="contact mt-2 d-flex">
					<p class="contactContent align-self-start"><i class="fas fa-phone-alt"></i> </p>
					<p class="contactContent ml-3">Cô Khanh:<br/>0903 67 42 68<br/>0968 00 46 25<br/>
						Cô Quỳnh:<br/>0903 88 25 25</p>
				</div>

				<div class="contact mt-2 d-flex">
					<p class="contactContent align-self-start"><i class="fas fa-envelope-open-text"></i> </p>
					<p class="contactContent ml-3">dreamwingsenglish@gmail.com</p>
				</div>

				
			</div>
			
		</div>
			

	</section>

	</div>
	

<%- include("partials/footer") %>