<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/lichthibanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI KIỂM TRA TRONG LỚP</h1>
			<p id="introText">
				Bao gồm kiểm tra giữa khóa và cuối khóa. Kết quả kiểm tra được gửi về cho phụ huynh xem. Đối với những trường hợp bé học giỏi vượt trội sẽ được học lớp cao hơn, những bé có biểu hiện học kém hơn các bạn cùng lớp, trung tâm sẽ sắp xếp và bàn bạc với phụ huynh phương án phù hợp để giúp bé theo kịp tiến độ.
			</p>
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI CHỨNG CHỈ</h1>
			<img src="images/lich-thi-tieng-anh-cambridge-2020-young-learners.jpg">
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">ÔN GÌ ĐỂ CHUẨN BỊ THI ?</h1>
			
			<div class="lop-container">
			<div class="row mt-5">

				<div class="col-md-4 mb-5">
					<img src="images/starters.png" class="img-fluid" style="width: 80%;">
				</div>
				<div class="col-md-8 mb-5 align-self-center">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.</p>
					<div><button type="button" class="btn btn-outline-success readmorebutton mt-3">ĐỌC THÊM</button></div>
				</div>

				<div class="col-md-4 mb-5">
					<img src="images/movers.png" class="img-fluid" style="width: 80%;">
				</div>
				<div class="col-md-8 mb-5 align-self-center">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.</p>
					<div><button type="button" class="btn btn-outline-success readmorebutton mt-3">ĐỌC THÊM</button></div>
				</div>

				<div class="col-md-4 mb-5">
					<img src="images/flyers.png" class="img-fluid" style="width: 80%;">
				</div>
				<div class="col-md-8 mb-5 align-self-center">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sed risus ultricies tristique nulla aliquet enim. Suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.</p>
					<div><button type="button" class="btn btn-outline-success readmorebutton mt-3">ĐỌC THÊM</button></div>
				</div>
				
			</div>
			</div>

		</section>
	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>