<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/lichthibanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI KIỂM TRA TRONG LỚP</h1>
			<p id="introText">
				Bao gồm kiểm tra giữa khóa và cuối khóa. Kết quả kiểm tra được gửi về cho phụ huynh xem. Đối với những trường hợp bé học giỏi vượt trội sẽ được học lớp cao hơn, những bé có biểu hiện học kém hơn các bạn cùng lớp, trung tâm sẽ sắp xếp và bàn bạc với phụ huynh phương án phù hợp để giúp bé theo kịp tiến độ.
			</p>
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI CHỨNG CHỈ</h1>
			<img src="images/lich-thi-tieng-anh-cambridge-2020-young-learners.jpg" class="img-fluid">
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">ÔN GÌ ĐỂ CHUẨN BỊ THI ?</h1>
			
			<button type="button" class="btn btn-outline-success linkedbutton mt-3">
					<a href="/thi-chung-chi-cambridge" id="linkLoiIch">Thông tin về các kì thi chứng chỉ Cambridge</a>
			</button>

		</section>
	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>