<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/lichthibanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI KIỂM TRA TRONG LỚP</h1>
			<p id="introText" style="text-align: left;">
				<b>Kiểm tra giữa khoá:</b>
				<br>
				Lịch kiểm tra giữa khoá được áp dụng cho học sinh bước vào chương trình Cấp 1 tại Dreams Wings English. Trước ngày kiểm tra, trung tâm sẽ thông báo trước một tuần cho phụ huynh và học sinh chuẩn bị. 

				Nội dung bài kiểm tra giữa khoá sẽ được gói gọn trong chương trình học, sau bài kiểm tra, phụ huynh sẽ biết được phần trăm năng lực tiếng Anh các bé đạt được theo từng giai đoạn và kĩ năng nào nên được cải thiện.
				<br><br>
				<b>Kiểm tra cuối khoá:</b>
				<br>
				Lịch kiểm tra cuối khoá được áp dụng cho học sinh bước vào chương trình Cấp 1 tại Dreams Wings English. Trước ngày kiểm tra, trung tâm sẽ thông báo trước một tuần cho phụ huynh và học sinh chuẩn bị. 

				Nội dung bài kiểm tra cuối khoá sẽ được làm dưới hình thức một bài kiểm tra theo chuẩn Starters, Movers hoặc Flyers. Sau bài kiểm tra, phụ huynh sẽ biết được với một bài thi chuẩn Cambridge, các bé sẽ được bao nhiêu khiên cùng phần trăm năng lực khi đi thi thực tế theo từng giai đoạn và kĩ năng nào nên được cải thiện
			</p>
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">LỊCH THI CHỨNG CHỈ</h1>
			<img src="images/lich-thi-tieng-anh-cambridge-2020-young-learners.jpg" class="img-fluid">
		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			<h1 class="bigHeading">ÔN GÌ ĐỂ CHUẨN BỊ THI ?</h1>
			
			<button type="button" class="btn btn-outline-success linkedbutton mt-3">
					<a href="/thi-chung-chi-cambridge" id="linkLoiIch">Thông tin về các kì thi chứng chỉ Cambridge</a>
			</button>

		</section>
	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>