<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/stock1.jpg" size="100%"></header>


	<div class="container-fluid mt-5">

	<section style="margin: 8% 2% 3% 2%;">

		<div class="row">
			
			<div id="menu-online" class="col-md-3">
				
				<a href="#">
					<p class="items-level">1* - Pre-starter (3 - 6 tuổi)</p>
				</a>
				<a href="#">
					<p class="items-level">2* - S-M-L (6 - 13 tuổi)</p>
				</a>
				<a href="#">
					<p class="items-level">3* - F-KET-PET (11 - 15 tuổi)</p>
				</a>
				<a href="#">
					<p class="items-level">4* - FCE (15 - 18 tuổi)</p>
				</a>
				<a href="#">
					<p class="items-level">5* - F-KET-PET (18 tuổi trở lên)</p>
				</a>




			</div>

			<div class="col-md-9" style="padding: 0 2%;">

			<div class="row">
				
				<div class="col-12 col-md-4 yt-card">
				<div class="card">
					<a href="#">
						<img class="card-img-online" src="images/starters.png" alt="Card image cap">
					    <div class="card-body">
						    <h5 class="card-title">Reading with Tony</h5>
						</div>
					</a>
					<span class="tooltiptext">
						<h5 class="card-title" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 2%;">
								Reading with Tony
						</h5>

						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</span>
				</div>
				</div>

				<div class="col-12 col-md-4 yt-card">
				<div class="card">
					<a href="#">
						<img class="card-img-online" src="images/starters.png" alt="Card image cap">
					    <div class="card-body">
						    <h5 class="card-title">Reading with Tony</h5>
						</div>
					</a>
					<span class="tooltiptext tip2">
						<h5 class="card-title" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 2%;">
								Reading with Tony
						</h5>

						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</span>
				</div>
				</div>

				<div class="col-12 col-md-4 yt-card">
				<div class="card">
					<a href="#">
						<img class="card-img-online" src="images/starters.png" alt="Card image cap">
					    <div class="card-body">
						    <h5 class="card-title">Reading with Tony</h5>
						</div>
					</a>
					<span class="tooltiptext tip3">
						<h5 class="card-title" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 2%;">
								Reading with Tony
						</h5>

						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</span>
				</div>
				</div>

			</div>


			</div>

		</div>

	</section>


	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>