<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/khoahocbanner.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent" style="width: 90%; text-align: left;">
			
			<div class="row">
				
				<div class="col-lg-10">
					
					<h1 class="bigHeading">[ PHỎNG VẤN DREAMWINGS ] Kì 1: Miss Trần Hữu Anh Thư</h1>

					<p>Có thể bỏ thêm hình ảnh liên quan bài viết ở giữa để tạo sự thú zị =))</p>

					<img src="images/msthu-interview.jpg" class="img-fluid d-flex justify-content-center my-4" 
					style="margin: 0 auto;">

					<p>
						Hôm nay, khách mời đầu tiên – Ms. Thư – Cô sinh viên năm 4 đã quyết định tạm ngưng chương trình học đại học 6 tháng để đến Nhật thực tập.
						<br />
						<br />
						<i><b>IE:</b> Vì sao Thư lại quyết định tạm ngưng việc học để đi sang Nhật thực tập?</i>
						<br />
						<br />
						<b>Thư:</b> Vào đầu năm 4 thì sinh viên sẽ chọn chuyên ngành. Thư đã yêu thích công việc giảng dạy tiếng Anh từ lâu nhưng vẫn muốn một lần đi để xem mình có thực sự yêu thích công việc này không. Thêm nữa, Nhật Bản lại là đất nước có những mô hình giáo dục trẻ em từ nhỏ rất nổi tiếng, Thư đi để học hỏi.
						<br />
						<br />
						<i><b>IE:</b> Những công việc chính của Thư trong 6 tháng thực tập là gì?</i>
						<br />
						<br />
						<b>Thư:</b> Mỗi ngày Thư làm việc 8 tiếng như các giáo viên. Thư được dự giờ và tham gia vào việc giảng dạy ở nhiều lớp khác nhau trong trường.
						<br />
						<br />
						<i><b>IE:</b> Sự nổi tiếng về cách rèn con nít của Nhật có đúng như trong tưởng tượng của Thư không?</i>
						<br />
						<br />
						<b>Thư:</b> Trước khi đi Thư cũng đã tìm hiểu nhiều qua sách báo nhưng đến khi thật sự sống trong môi trường giáo dục ở Nhật thì Thư mới hiểu và thấm thía sâu sắc. Để rèn các bé nhỏ ở độ tuổi 3, 4 tuổi vào nền nếp là cả một quá trình kiên trì và là sự phối hợp rất chặt chẽ giữ phụ huynh và nhà trường. Có 1 kỷ niệm rất vui khi lớp tổ chức tiệc sinh Nhật cho các bé, Thư đã rất ngạc nhiên vì rất nhiều Mẹ Nhật đến trường và cùng nhau nấu ăn, tổ chức sinh nhật cho các bé. Các hoạt động ngoại khóa của nhà trường cũng được các Mẹ Nhật hưởng ứng rất nhiệt tình và Thư được biết là Mẹ Nhật thường ở nhà, chịu trách nhiệm chăm lo cho gia đình và giáo dục con cái.
						<br />
						<br>
						<div class="my-4">
							<img src="http://in-japan.education/wp-content/uploads/2017/07/1-preschool-in-Japan.jpg"  
							style="width: 70%; margin: 0 auto;" class="img-fluid d-flex justify-content-center">
							<p class="d-flex justify-content-center" style="font-size: 70%;">
								<i>Image at 
								<a href="http://in-japan.education/japanese-school-system/"> http://in-japan.education/japanese-school-system/ </a>
								</i></p>
						</div>
						<br>
						<i><b>IE:</b> Thư có thể kể những điều ý nghĩa nhất mà Thư đã trải nghiệm được trong 6 tháng qua?</i>
						<br />
						<br />
						<b>Thư:</b> rất rất nhiều điều Thư muốn kể, nhưng ấn tượng nhất là cách các cô giáo rèn cho các em nhỏ tinh thần tự giác làm hết tất cả các công việc cá nhân. Có một lần khi mới sang, Thư giúp 1 bé cài nút áo. Đến cuối giờ, giáo viên chủ nhiệm lớp gặp riêng và nhắc Thư đừng giúp bé như vậy, hãy để bé tự làm việc cá nhân của mình.
						<br />
						Tác phong của các bé cũng được giáo viên rèn rất kỹ. Từng động tác nhỏ từ việc để dép ngay ngắn ở đâu, cặp sách để chỗ nào, giờ nào làm việc gì theo hiệu lệnh của giáo viên. Hầu như giáo viên không cần nhắc đến lần thứ 2, các bé đã thực hiện đều và theo đúng yêu câu của Cô ngay lần đầu nghe cô nói.
						Tất cả các bé đều biết xin phép giáo viên trước khi muốn đi đâu hoặc làm việc gì. Trước khi đến Nhật Thư đã không nhận thức được tầm quan trọng của việc rèn các bé từ nhỏ. Giờ Thư hiểu rất rõ giá trị của tính kỷ luật. Ở đây, Thư không bao giờ thấy sự lộn xộn hoặc mất trật tự, mọi người tôn trọng nhau và tôn trọng tập thể, các nội dung bài dạy được giáo viên truyền tải hiệu quả và các em học với tinh thần rất chủ động. Tất cả các em dù mới 3, 4 tuổi vẫn biết rõ khi nào được chơi, khi nào là giờ học.
						Không chỉ giáo viên và học sinh mà cả phụ huynh cũng tuân thủ rất nghiêm túc các quy định của Nhà trường. Ví dụ như thời gian đưa đón các bé, Trường có dán thông báo phía trước nếu đến rước trễ 1 phút sẽ bị phạt. 6 tháng Thư thực tập thì không thấy trường hợp nào phụ huynh đến rước con trễ hết. Phụ huynh rất có ý thức và họ rất sợ bị người khác đánh giá mình lề mề. Phụ huynh thật sự là tấm gương cho các bé noi theo.
						<br />
						<br />
						<i><b>IE:</b> Với nhiều nguyên tắc như vậy thì môi trường làm việc có khắc nghiệt lắm không Thư?</i>
						<br />
						<br />
						<b>Thư:</b> thật ra thì Thư là thực tập sinh nên được rất nhiều sự quan tâm đặc biệt từ Cán bộ hướng dẫn. Thư được nhắc nhở nhẹ nhàng nếu làm chưa đúng và luôn được khích lệ trong suốt thời gian ở đây. Vào mỗi cuối buổi học, tất cả các giáo viên ở các lớp sẽ gặp nhau nhanh khoảng 5 đến 10 phút để hỏi han nhau về một ngày dạy học và kể cho nhau nghe những chuyện đặc biệt xảy ra trong lớp mình. Dù thời gian gặp nhau ngắn thôi nhưng Thư thấy rất hiệu quả trong việc gắn bó các giáo viên với nhau và giúp giáo viên chia sẻ được những niềm vui cũng như những khó khăn mình gặp phải. Điều này chắc chắn sẽ giúp giáo viên yêu thêm công việc của mình, yêu quý đồng nghiệp, trường lớp và học trò.
						<br />
						<br />
						<i><b>IE:</b> Sau khi đi thực tập về việc học và công việc của Thư có xáo trộn nhiều không?</i>
						<br />
						<br />
						<b>Thư:</b> Thư đi về thì các bạn của mình đã chuẩn bị tốt nghiệp hết rồi. Thấy mình cũng có chậm lại một chút nhưng Thư thấy dành thời gian để đi là một quyết định đúng đắn. Nó giúp Thư khẳng định lại một lần nữa khẳng định đam mê của mình, cho Thư cơ hội để học hỏi rất nhiều điều hay và mới ở Nhật. Dù 6 tháng ngắn ngủi nhưng đây là 1 hành trang quý giá để Thư bước vào chuyên ngành ở năm cuối đại học và chuẩn bị cho nghề nghiệp tương lai của mình.
						<br />
						<br />
						<i><b>IE:</b> Cám ơn Thư rất nhiều, hẹn gặp lại Thư nhé!</i>
						<br />
						<br />
						-----------------------------------------------
						<br />
						<br />
						Ms. Thư hiện là một giáo viên rất năng động, nhiệt tình và sáng tạo của Trung Tâm. Đây là một cô giáo vô cùng nhiệt huyết với nghề dạy học. Hiện Thư đang được quy hoạch để trở thành một huấn luyện đào tạo chuyên nghiệp. Hầu hết thời gian rảnh Thư đầu tư vào việc xây dựng chương trình giảng dạy, nghiên cứu các hoạt động dạy và học vui tươi, sôi nổi giúp cho các bé yêu thích việc học Tiếng Anh và giáo viên vui với nghề của mình.
						<br />
						Chúc Thư thật nhiều năng lượng để thực hiện tốt tất cả các kế hoạch đã đề ra!

					</p>

				</div>

				<div class="col-lg-4">
					
				</div>
				

			</div>

			

		</section>

	<hr class="mid-hori">

		
	


	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>