<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/readingtony.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent" style="width: 90%;">
			
			<div class="row">
				
				<div class="col-lg-6">
					<img src="images/logotron.png" style="margin: auto;" class="img-fluid">
				</div>

				<div class="col-lg-6 align-self-center">
					<p><b>Reading With Tony</b> là một kênh Youtube với rất nhiều videos kể chuyện tiếng Anh cho bé nghe – và người kể là một cậu bé 10 tuổi, tên là Tony! <br> <br>
						Tony kể chuyện với hình ảnh sinh động, có chữ tiếng Anh và chạy sub tiếng Việt; cách Tony kể chuyện rất hấp dẫn và gần gũi, phát âm chuẩn và rõ ràng, rất thích hợp cho việc học tiếng Anh của bé. Kênh youtube cũng có nhiều videos cho nhiều cấp độ khó khác nhau, vậy cho dù là bé 2-3 tuổi đến độ tuổi lớn hơn ( đại học – với những bài đọc Ted Ed ) cũng có thể nghe. 
						</p>

					<span class="blogReadMore mt-3"><a href="https://www.youtube.com/channel/UC51keK2ErNAHOyimKeAAEOg">GO TO CHANNEL</a></span>
				</div>

			</div>

			

		</section>

	<hr class="mid-hori">

		<section class="pageContent">
			
			<iframe class="featurevidTony" width="1120" height="630" src="https://www.youtube.com/embed/dxyf-0QO5M8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				

		</section>

	<hr class="mid-hori">

		<section class="pageContent">

			<h1 class="bigHeading" style="margin-bottom: 10%; ">MỘT SỐ VIDEOS TIÊU BIỂU</h1>
			

			<div class="row" style="width: 90%; margin: 0 auto;">
				
				<div class="col-lg-6 mb-5">
					<iframe class="featurevidTony" width="560" height="315" src="https://www.youtube.com/embed/hnF988iYTAQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="col-lg-6 mb-5">
					<iframe class="featurevidTony" width="560" height="315" src="https://www.youtube.com/embed/FIi285QHlrk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="col-lg-6 mb-5">
					<iframe class="featurevidTony" width="560" height="315" src="https://www.youtube.com/embed/Ym_WnihOe1M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="col-lg-6 mb-5">
					<iframe class="featurevidTony" width="560" height="315" src="https://www.youtube.com/embed/QI_i7sAmU8Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

			</div>

		</section>

	


	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>