<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/huong-dan-thi-banner.jpg" size="100%"></header>

	<div class="container-fluid mt-5">

		<h1 style="color: #116EBF; margin: 0 auto; text-align: center;" class="my-4 bigHeading">
					THÔNG TIN VỀ KÌ THI CAMBRIDGE ASSESSMENT ENGLISH</h1> <br />

	<div class="row" style="width: 90%; margin: 10px auto;">

		<div class="col-md-9 paddingRight">

		<section>
			<div class="mb-3">
				<h4 id="1" class="engAtHome" style="color: #116EBF; font-weight: bold;">1. Kỳ thi Cambridge là gì?</h4>
				<br>
				<p>
					"Cambridge English Qualifications là các kỳ thi chuyên sâu giúp cho việc học tiếng Anh trở nên thú vị, hiệu quả và bổ ích.
					<br>
					Cambridge English Qualifications của chúng tôi được dựa trên các nghiên cứu về giảng dạy và học tập. Các văn bằng chứng chỉ này thúc đẩy mọi người ở mọi lứa tuổi, mọi trình độ học tiếng Anh và phát triển các kỹ năng thực hành trong cuộc sống đời thường. Mỗi kỳ thi tập trung vào một cấp độ của Khung đánh giá trình độ ngôn ngữ của cộng đồng chung Châu Âu (CEFR), giúp người học cải thiện từng bước các kỹ năng nghe, nói, đọc và viết.
					<br>
					Dù mục tiêu hay tham vọng của bạn là gì, Cambridge English Qualifications luôn được ghi nhận là biểu hiện của sự xuất sắc, được hàng nghìn tổ chức trên toàn thế giới công nhận và tin tưởng."
					<br>
					<i>- theo <a style="color:  #116EBF;" class="hoverimg" target="_blank" href="https://www.cambridgeenglish.org/vn/exams-and-tests/qualifications/">www.cambridgeenglish.org</a> </i>
				</p>
			</div>
			<br>
			
			 	<span class="my-4 " >
					<img src="images/CEFR_Framework.jpg"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
					</a>
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Khung tham chiếu các chứng chỉ tiếng Anh quốc tế</i></p>
					</span>

			<br><br>
			
		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-3">
				<h4 id="2" class="engAtHome" style="color: #116EBF; font-weight: bold;">2. Cấp độ được đào tạo tại Dreamwings English</h4>
				<br>
				<p>
					Dưới đây là bảng thể hiện cấp độ lớp học, thời gian, giáo trình sử dụng và bằng cấp có khả năng đạt điểm cao đến tối đa khi hoàn thành cấp độ học tương đương ở Dreamwings English.
				</p>
			</div>
			<br>
			
			 	<span class="my-4 " >
					<a href="images/dwe-cambridge.jpg" target="_self"><img src="images/dwe-cambridge.jpg"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
					</a>
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Thời gian học các cấp độ tham chiếu theo kĩ năng đủ để đạt điểm cao khi thi chứng chỉ Cambridge</i></p>
				</span>
			<br>
				<p>
					<b>Thể theo đó:</b>
					<ul>
						<li>
							<b>Cấp độ mầm non:</b> trong vòng <b>2 năm</b> (trẻ đi học từ 3.5 đến 5.5 tuổi), sẽ học hết giáo trình Amanda and Friends 1 & 2 kèm Phonics, vậy là các bé đã có nền tảng vững chắc cho cấp độ Pre-Starters. Với cấp độ mầm non, trung tâm sẽ chú trọng rất nhiều vào cách phát âm cũng như các kĩ năng học tập của các con, kĩ năng làm việc nhóm và cho các con niềm yêu thích học ngôn ngữ. 
						</li>
						<li>
							<b>Cấp độ Starters:</b> trong vòng khoảng <b>2 năm 4 tháng</b> (từ lớp 1 tới giữa - cuối lớp 3), sẽ học hết giáo trình Incredible English Starters, 1 & 2. Nếu học sinh đi học đủ, các con sẽ có thể thi chứng chỉ Cambridge Starters với điểm số cao đến tuyệt đối.
						</li>
						<li>
							<b>Cấp độ Movers:</b> trong vòng khoảng <b>1 năm 6 tháng</b> (từ lớp 3 tới giữa - cuối lớp 5), sẽ học hết giáo trình Incredible English 3 & 4. Nếu học sinh đi học đủ, các con sẽ có thể thi chứng chỉ Cambridge Movers với điểm số cao đến tuyệt đối.
						</li>
						<li>
							<b>Cấp độ Flyers:</b> trong vòng khoảng <b>1 năm</b> (từ khoảng cuối lớp 5 tới giữa - cuối lớp 7), sẽ học hết giáo trình Incredible English 5 & 6. Nếu học sinh đi học đủ, các con sẽ có thể thi chứng chỉ Cambridge Flyers với điểm số cao đến tuyệt đối.
						</li>
					</ul>
					<br>
					Bên cạnh đó, từ cấp độ 5 (Incredible 1), song song với giáo trình chính, học sinh còn được học I-Dictionary, Story Fun và làm quen với các dạng đề Cambridge.
				</p>


			<br><br>
			
		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-3">
				<h4 id="3" class="engAtHome" style="color: #116EBF; font-weight: bold;">3. Những điểm cầm lưu ý về thi vấn đáp trình độ thiếu nhi</h4>
				<br>
				<p>
					<b>Thí sinh cần:</b>
					<ul>
						<li>
							Nắm vững lượng từ ngữ cho mỗi cấp độ (Starters khoảng 497 từ; Movers khoảng 898 từ; Flyers khoảng 1411 từ) và các điểm ngữ pháp đã nêu trong cuốn Handbook for Teachers.
						</li>
						<li>
							Biết rõ các yêu cầu của mỗi phần trong bài thi.
						</li>
						<li>
							Lắng nghe KỸ câu hỏi hoặc ví dụ Giám khảo đưa ra. Nếu không hiểu, hỏi lại ngay, dùng câu đơn giản như: <b><i>Sorry, I don’t know / I don’t understand / Please repeat, v.v...</i></b>
						</li>
						<li>
							Thực hành sử dụng tiếng Anh thường xuyên , sử dụng mẫu câu chào hỏi, cảm ơn <b><i>( Hello / Goodbye / Thank you )</i></b>
						</li>
						<li>
							Học và thực hành cách cho thông tin đơn giản: tên, tuổi, các điều yêu thích <b><i>( thức ăn, âm nhạc, hoạt động vui chơi, v.v...)</i></b>
						</li>
						<li>
							Mô tả tranh, xác định vị trí của đồ vật, người, mô tả hoạt động đơn giản theo các chủ đề có trong tất cả sách giáo khoa tiếng Anh cho bậc Tiểu học <b><i>( gia đình / bạn bè / trường lớp / động vật / thời tiết,v.v...)</i></b>
						</li>
						<li>
							Biết cách đặt câu hỏi đơn giản; so sánh tranh tìm điểm khác biệt.
						</li>
						<li>
							Kể chuyện theo tranh, có sử dụng các từ nối câu như <b><i>and / but / then / after that / when / because, v.v... </i></b>
						</li>
					</ul>
				</p>
			</div>
			<br>
			
			 	<span class="my-4 " >
					<a target="_blank" href="https://www.cambridgeenglish.org/vn/Images/506166-starters-movers-flyers-word-list-2018.pdf" ><img src="images/cambridge.jpg"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
					</a>
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Tổng hợp những từ vựng cần thiết cho cấp độ Starters, Movers và Flyers</i></p>
				</span>
			<br>
			<p>
					<b>Giáo viên cần:</b>
					<ul>
						<li>
							Xây dựng và nâng cao sự tự tin của học sinh (HS) qua việc thực hành tiếng Anh trong lớp.
						</li>
						<li>
							Sử dụng các câu mệnh lệnh, yêu cầu thông thường trong tất cả các hoạt động trong lớp.
						</li>
						<li>
							Hướng dẫn và cho HS thực hành các mẫu câu tiếng Anh đơn giản trong các tình huống khác nhau để các em sử dụng thành thạo và tự nhiên, thích hợp với độ tuổi và trình độ.
						</li>
						<li>
							Luyện phát âm đúng cho HS, lưu ý các lỗi phát âm thông thường như: không phát âm hay phát âm sai phụ âm cuối; thực hành để các em thấy rõ cách đọc phụ âm và nguyên âm tiếng Anh khác tiếng Việt như thế nào.
						</li>
						<li>
							Nắm vững các yêu cầu trong từng hoạt động của bài thi (thông qua bài thi mẫu, các videos trên trang web của Cambridge: <a style="color:  #116EBF;" target="_blank" class="hoverimg" href="https://www.cambridgeenglish.org/vn/">https//www.cambridgeenglish.org/</a> và Youtube).
						</li>
						<li>
							Sử dụng nhiều tranh ảnh, đồ dùng dạy học cụ thể.
						</li>
						<li>
							Chú trọng các kỹ năng Nghe Nói hài hòa với kỹ năng Đọc Viết.
						</li>
						<li>
							<b>Lưu ý:</b> Giám khảo được đào tạo để hỗ trợ thí sinh khi cần thiết và tạo điều kiện để các em thực hiện bài thi tốt nhất. Sử dụng đúng ngữ pháp là quan trọng nhưng kỹ năng giao tiếp và từ vựng cũng có thể giúp các em đạt điểm cao.
						</li>
					</ul>
				</p> 
				<br>
			
			 	<span class="my-4 " >
					<img src="images/cambridge-common-mistake-1.JPG"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Những lỗi sai thường gặp ở học sinh</i></p>
				</span>


			<br><br>
			
		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-3">
				<h4 id="4" class="engAtHome" style="color: #116EBF; font-weight: bold;">4. Những điểm cầm lưu ý về thi vấn đáp trình độ A2 Key, B1 Preliminary và B2 First</h4>
				<br>
				<p>
					<b>Thí sinh cần:</b>
					<ul>
						<li>
							Nắm vững  lượng từ theo bảng từ cho A2 Key và B1 Preliminary. Tuy nhiên bảng từ này chỉ là cơ bản, một số từ khác có thể được sử dụng thêm dù không có trong bảng từ. Trình độ B2 First, không có bảng từ nêu sẵn cho thí sinh.
						</li>
						<li>
							Tham khảo “Điều Thí sinh có thể làm được” (Can Do statements) cho mỗi trình độ trong khung chuẩn Châu Âu (CEFR).
						</li>
						<li>
							Sử dụng tiếng Anh tự nhiên, nắm vững các kỹ năng giao tiếp như trao đổi thông tin, thảo luận, hỗ trợ thí sinh cùng cặp khi cần, yêu cầu được hỗ trợ v.v...
						</li>
						<li>
							Thực hành các kỹ năng diễn đạt đồng ý, không đồng ý, phát triển thêm ý dựa trên điều thí sinh cùng cặp đưa ra.
						</li>
						<li>
							Tham khảo các video về môn vấn đáp trên Youtube.
						</li>
						<li>
							Thường xuyên thực hành các hoạt động ngôn ngữ theo cặp nhóm.
						</li>
						<li>
							Thực hành các mẫu câu yêu cầu hỗ trợ khi cần, tránh không đưa ra câu trả lời ngắn “Có / Không” mà không giải thích thêm.
						</li>
						<li>
							Giám khảo sẽ điều tiết thời gian, bảo đảm 2 thí sinh cùng có cơ hội phát biểu tương đương như nhau. Do vậy, không cần lo lắng khi Giám khảo yêu cầu hoặc ra dấu hiệu ngưng nói.
						</li>
						<li>
							Không cần lo lắng nếu thí sinh cùng cặp thi giỏi hơn hoặc yếu hơn. Điểm số cho mỗi thí sinh dực theo tiêu chí chấm có sẵn và không bị ảnh hưởng lẫn nhau.
						</li>
						<li>
							<b>Không học thuộc lòng</b> một số chủ đề, hoạt động và máy móc “đọc” lại cho Giám khảo.
						</li>
						<li>
							Lắng nghe <b>KỸ</b> yêu cầu của hoạt động trong bài thi. Nếu không hiểu rõ yêu cầu, hỏi lại Giám khảo để được hỗ trợ. Bảo đảm câu trả lời đúng vào trọng tâm câu hỏi.
						</li>
						<li>
							Nếu trong lúc thảo luận hay mô tả hình ảnh mà thí sinh không đạt được sự đồng ý, điểm số cũng không bị ảnh hưởng.
						</li>
						<li>
							Phát âm rõ, nói lớn để cả hai Giám khảo có thể nghe rõ.
						</li>
						<li>
							Câu hỏi về ý kiến cá nhân không bị đánh giá đúng / sai. Phần được đánh giá là kỹ năng sử dụng tiếng Anh. Do vậy, kiến thức về ngữ pháp và từ ngữ là cần thiết bên cạnh kỹ năng giao tiếp, truyền đạt thông tin.
						</li>
						<li>
							Thực hành theo chủ đề thông qua các hoạt động trong bài thi Vấn đáp.
						</li>
						<li>
							Luyện tập phát âm rõ, đúng, chú trọng đến các trọng âm trong một từ, nhấn mạnh câu hay ngữ điệu câu, từng âm trong mỗi từ đều đúng, nhất là các âm được phát âm khác tiếng Việt, ví dụ âm /t/ hay không có trong tiếng Việt như âm /θ /.
						</li>
					</ul> 
					<br>
					<a style="color:  #116EBF;" class="hoverimg" href="https://www.cambridgeenglish.org/Images/506886-a2-key-2020-vocabulary-list.pdf" target="_blank">File pdf từ cambridgeenglish.org về các từ vựng và grammar cần có cho chứng chỉ <b>A2 Key / Ket</b></a> 
					<br>
					<a style="color:  #116EBF;" class="hoverimg" href="https://www.cambridgeenglish.org/vn/Images/506887-b1-preliminary-2020-vocabulary-list.pdf" target="_blank">File pdf từ cambridgeenglish.org về các từ vựng và grammar cần có cho chứng chỉ <b>B1 Preliminary / Pet</b></a>
					<br>
					<a style="color:  #116EBF;" class="hoverimg" href="https://www.cambridgeenglish.org/vn/Images/557770-b1-preliminary-information-for-candidates.pdf" target="_blank">File pdf từ cambridgeenglish.org về những gì cần chuẩn bị trước khi thi cho chứng chỉ <b>B1 Preliminary / Pet</b></a>
				</p>
			</div>

			<br>
			
			 	<span class="my-4 " >
					<div class="map-responsive">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/gJ4Zdk6u24g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Chuẩn bị cần thiết cho kì thi Ket/ A2 Key</i></p>
				</span>
			<br>
			<p>
					<b>Giáo viên cần:</b>
					<ul>
						<li>
							Nắm rõ cấu trúc bài thi Vấn đáp.
						</li>
						<li>
							Hiểu rõ yêu cầu của từng cấp độ tương ứng với Khung Chuẩn Châu Âu.
						</li>
						<li>
							Tạo điều kiện tối đa cho học sinh thực hành các hoạt động trong bài thi Vấn đáp, sử dụng nguồn ngữ liệu bao gồm cả hình ảnh, giáo án, video trên trang web của Cambridge và Youtube.
						</li>
						<li>
							Rèn luyện phát âm cho học sinh.
						</li>
						<li>
							Thực hành ngữ pháp và từ vựng thông qua các hoạt động của bài thi mà không dạy riêng lẻ từng điểm ngữ pháp hay từ ngữ một cách máy móc.
						</li>
						<li>
							Tham khảo tiêu chí chấm môn Vấn đáp trong Handbook for Teachers của từng cấp độ.
						</li>
						<li>
							Cho học sinh thực hành theo cặp và theo nhóm (cấu trúc bài thi có thể có 3 thí sinh cùng lúc, nếu tổng số thí sinh lẻ).
						</li>
						<li>
							Nâng cao sự tự tin qua thực hành, khuyến khích các em ngay cả khi làm sai; tiến hành thi thử trong lớp.
						</li>
						<li>
							<b>Lưu ý:</b>  Bài thi là để đánh giá mức độ thí sinh sử dụng tiếng Anh trong giao tiếp, trao đổi ý kiến theo các chủ đề quen thuộc thường ngày và không đánh giá ý kiến đúng sai.
						</li>
					</ul>
				</p> 
				<br>
			
			 	<span class="my-4 " >
					<img src="images/cambridge-common-mistake-2.JPG"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Những lỗi sai thường gặp ở học sinh</i></p>
				</span>


			<br><br>
			
		</section> 

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-3">
				<h4 id="5" class="engAtHome" style="color: #116EBF; font-weight: bold;">5. Hướng dẫn đăng ký thi Cambridge</h4>
				<br>
				<p>
					Rất nhiều phụ huynh hỏi Trung tâm làm thế nào để đăng kí cho bé tham gia những kì thi Cambridge, ngoài thông qua những đơn vị tổ chức đăng kí thi, phụ huynh có thể tự mình đăng kí cho các em thông qua những bước sau đây.
					<br>
					Việc tìm hiểu và chuẩn bị kĩ càng cho một kì thi cũng chính là chìa khóa thành công cho các em.
				</p>
			</div>
			<br>
			
			 	<span class="my-4 " >
					<img src="images/huong-dan-cambridge.jpg"  
						style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
					</a>
						<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
							<i>Hướng dẫn thi chứng chỉ Cambridge Starters/ Movers/ Flyers/ Ket/ Pet cho thí sinh tự do</i></p>
					</span>

			<br><br>
			
		</section>

	

		



		</div>

		<div class="col-md-3 sideMenu">

			<div class="menulist mb-4">
				<h4 style="color: #116EBF; font-weight: bold;">Mục lục:</h4>
				<ol class="sideMenuList">
					<li><a href="/thi-chung-chi-cambridge#1">Kỳ thi Cambridge là gì?</a></li>
					<li><a href="/thi-chung-chi-cambridge#2">Cấp độ được đào tạo tại Dreamwings English</a></li>
					<li><a href="/thi-chung-chi-cambridge#3">Những điểm cầm lưu ý về thi vấn đáp trình độ thiếu nhi</a></li>
					<li><a href="/thi-chung-chi-cambridge#4">Những điểm cầm lưu ý về thi vấn đáp trình độ A2 Key, B1 Preliminary và B2 First</a></li>
					<li><a href="/thi-chung-chi-cambridge#5">Hướng dẫn đăng ký thi Cambridge</a></li>
				</ol>
			</div>
			
		</div>

	</div>

	<hr class="mid-hori mt-4">

		<section class="pageContent readingtonyintro">

			<h1 class="bigHeading mb-4">XEM THÊM CÁC BÀI VIẾT KHÁC</h1>
			
			<div class="row " style="margin:0 auto;">
				<div class="col-6 col-md-3 mb-4">
					<div class="card newscard" >
						<a href="/tieu-chi-day-hoc-DWE">
						  <img class="card-img-top img-fluid" src="images/dw-icon.png" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Tiêu chí dạy học của trung tâm</h5>
						  </div>
						</a>
					</div>
				</div>

				<div class="col-6 col-md-3 mb-4">
					<div class="card newscard" >
						<a href="/loi-ich-hoc-tieng-anh-som">
						  <img class="card-img-top img-fluid" src="https://cdn.cdnparenting.com/articles/2018/07/712919656-H-768x525.jpg" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Lợi ích của việc học tiếng Anh sớm</h5>
						  </div>
						</a>
					</div>
				</div>

				<div class="col-6 col-md-3 mb-4">
					<div class="card newscard" >
						<a href="/english-at-home">
						  <img class="card-img-top img-fluid" src="https://image.freepik.com/free-vector/home-study-room-with-books_25030-38997.jpg" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Cha mẹ hãy giúp bé phát triển ở nhà!</h5>
						  </div>
						</a>
					</div>
				</div>
				
			</div>



		</section>
		
		


	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>