<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/stock1.jpg" size="100%"></header>


	<div class="container-fluid mt-5">

		<h1 style="color: #116EBF; margin: 0 auto; text-align: center;" class="my-4">
					CHA MẸ HÃY GIÚP BÉ PHÁT TRIỂN TIẾNG ANH Ở NHÀ!</h1> <br /> <br />

	<div class="row">

		<div class="col-md-8">
			<section id="1">
			
			<h4 class="ml-4">Lời Tâm Sự từ cô Khanh:</h4>
				<p id="introText" style="text-align: left;">
				<i>Mình đã tạo môi trường tràn ngập tiếng Anh ở nhà, giúp bé Tony nhà mình có thể thích thú và nói được tiếng Anh. Mình đã khá thành công các bạn ạ! Bé Tony nói tiếng Anh lưu loát từ khi 4 tuổi, giọng đọc chuẩn, 5 tuổi biết đọc truyện ngắn, 8 tuổi biết đọc truyện dài và sách khoa học tiếng Anh. Mình đã giới thiệu cho bạn bè cách làm này, và các con của bạn mình cũng phát triển tốt như Tony! Và bây giờ mình muốn giới thiệu cho bạn, cũng chẳng có gì mới và độc đáo, nhưng bạn có bắt tay vào làm, và làm thật sớm không?
				Nếu các bạn không nói được tiếng Anh nhiều, hoặc không có thời gian và phương pháp đúng để dạy hiệu quả cho bé, bạn cứ cho bé đi học ở một trung tâm ngoại ngữ (gần nhà càng tốt), và nhớ làm thêm cái này:
				</i></p>
				<br />

				<div class="textbox">
					<p>Các bố mẹ nên nhớ là: Trẻ em tiếp xúc với ngoại ngữ càng sớm càng tốt, 3-4 tuổi hoặc nhỏ hơn nữa. Trường học không đủ thời gian cho các bé thẩm thấu ngoại ngữ và có thể sử dụng thành thạo ngoại ngữ đó; Trong thời đại hiện nay, hiếm có trẻ em học giỏi, nói giỏi ngoại ngữ mà không sử dụng công nghệ trong việc học thêm ở nhà như học qua mạng internet , phim, phần mềm máy tính …với các thiết bị  như Ti vi, máy tính, Ipad...điều này chắc chắn hiệu quả mà chi phí quá rẻ (nhưng bạn nhớ kiểm soát bé nhé)</p>
				</div>
			

		</section>

	<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="2" class="engAtHome" style="color: #116EBF; font-weight: bold;">1. Kênh Youtube</h4>
				<br>
				<p>Bạn có thể sử dụng máy tính bảng (Ipad), laptop, máy tính bàn hoặc ti vi thông minh (smart TV). Gõ từ khóa <b>Learning English for children/ Learning English for kids</b>. Nếu muốn học qua bài hát thì gõ từ khóa <b>Learning English songs  for children/ Learning English songs for kids</b>. Nếu muốn học qua đọc truyện thì gõ <b>Reading English stories hoặc Learning English through stories for Children/kids.</b> <br><br>
				Bạn cũng có thể chọn một số kênh tiếng Anh phổ biến cho trẻ: <i>ELF Learning, Busy Beavers, English Kids TV, Dream English Kids, Super simple learning, English Singsing, Wow English for kids……</i>và còn rất nhiều nữa, sẽ có rất nhiều link kết nối cho bạn tha hồ chọn cho bé.
				</p>
			</div>
			<br>
			
			<div class="textbox">
				<b>Một số chủ đề quen thuộc cho các bạn nhỏ (5-8 tuổi):</b>
				Bảng chữ cái (Alphabet), các số (numbers), màu sắc (colors), hình dạng (shapes), thú vật (animals), gia đình (family), thân thể (body), thức ăn (food), thức uống (drinks), trái cây (fruit), đồ chơi (toy), trường học (school), dụng cụ học tập (school objects), sân chơi (playground), thời tiết (weather)
				<br>
				<i>Ví dụ bạn gõ chữ: Learning English for kids - numbers</i>

			</div>

			<br><br>
			
		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="3" class="engAtHome" style="color: #116EBF; font-weight: bold;">2. Video giúp phát triển nghe nói tự nhiên</h4> 
				<br>
				<p>Cũng là trên youtube, loạt video gồm hàng trăm tập kiểu hoạt hình <b>Peppa Pig, Peep and the Big Wide World, Muzzy, Magic English, Dinosaur train, Super Why, Gogo loves English, PJ Masks Cartoon...</b>bé Tony nhà mình đã đặc biệt thích Peppa pig và bé đã nói tiếng Anh lưu loát từ 4 tuổi nhờ phần lớn vào kênh Peppa pig này.
				</p>
			</div>
			<br>

			<div style="text-align: center;">
				<iframe width="672" height="378" src="https://www.youtube.com/embed/51Iz-jX6lNM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p style="font-size: 90%;" class="mt-4"><i><a href="https://www.youtube.com/channel/UCAOtE1V7Ots4DjM8JLlrYgg">Kênh Youtube Official của phim hoạt hình Peppa Pig.</a></i></p>
			</div>
			


			<br> <br>

		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="4" class="engAtHome" style="color: #116EBF; font-weight: bold;">3. Phần mềm hoặc kênh học tiếng Anh trên mạng (dành cho lớp 3 trở lên)</h4> 
				<br>
				<p> <b>I-Dictionary của Oxford, Family and Friends, way ahead, British Council-LearnEnglish Kids, Ucan Learning English, và mình đăc biệt thích Rosetta Stone…</b> bạn có thể học trực tiếp trên mạng hoặc tải phần mềm về học (mua hoặc miễn phí).
				</p>
			</div>
			<br>

			

			   <span class="my-4 " >
							<a href="https://www.rosettastone.com/"><img src="https://wise-english.co.uk/wp-content/uploads/2019/07/rosetta-stone.jpg"  
							style="width: 80%; margin: 0 auto;" class="img-fluid d-flex justify-content-center hoverimg">
							</a>
							<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">
								<i>Image at 
								<a href="https://www.wise-english.co.uk/apps/rosetta-stone/"> wise-english.co.uk </a>
								</i></p>
				</span>
			


			<br> <br>

		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="5" class="engAtHome" style="color: #116EBF; font-weight: bold;">4. Kênh tiếng Anh trên TV, phim tiếng Anh trên TV</h4> 
				<br>
				<p>Phổ biến như <b>Chu Chu TV, Kid tv 123, Disney Chanel, Disney Junior, Discovery....</b>vừa xem giải trí, vừa học....và bạn có thể xem lại trên youtube.
				</p>
			</div>
			<br>

			<div style="text-align: center;">
				<iframe width="672" height="378" src="https://www.youtube.com/embed/BELlZKpi1Zs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p style="font-size: 90%;" class="mt-4"><i><a href="https://www.youtube.com/user/KidsTV123">Kênh Youtube Official của kênh Kids TV 123 với nhiều bài hát học tiếng Anh.</a></i></p>
			</div>
			


			<br> <br>

		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="6" class="engAtHome" style="color: #116EBF; font-weight: bold;">5. Phần mềm I-pad cho trẻ nhỏ</h4> 
				<br>
				<p>Bạn mua phần mềm dành cho I-pad, ví dụ như <b>Monkey Junior</b> hay các phần mềm bé Tony đã từng học hiệu quả như <b>Fun English, Starfall English, Touchwords, Picture Dictionary…</b> rẻ hoặc miễn phí nữa!
				<br>
				Các phần mềm đều có trên các nền tảng IOS và Android, tuy vậy, vì bảo vệ mắt bé, trung tâm khuyến khích cha mẹ
				cho bé dùng Ipad hơn là thiết bị nhỏ nhé!
				</p>
			</div>
			<br>

			<div style="margin: 0 auto; width: 80%;" class="row">
				<div class="col-md-3">
					<img src="https://play-lh.googleusercontent.com/7fhIf3w74ZhUuIhpIjyPeWTQboV7oWZVi5KLPGCKKV02efYbu2hjS06bP_grdlpPxdth=s180-rw"  
					 class="img-fluid d-flex justify-content-center lineupImg">
						
					<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">Monkey Junior
					</p>
				</div>

				<div class="col-md-3">
					<img src="https://static-s.aa-cdn.net/img/ios/660169784/133769c2a14ae9e09b25fc436e285a15?v=1"  
					 class="img-fluid d-flex justify-content-center lineupImg">
						
					<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">Fun English
					</p>
				</div>

				<div class="col-md-3">
					<img src="https://play-lh.googleusercontent.com/QRrnPBiqQWpy-WkUiYF4czeIh7A1nRwF3QySBON6gBC_qEjEqTjQIGIU__5d4PpwYZk"  
					 class="img-fluid d-flex justify-content-center lineupImg">
						
					<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">Star Fall
					</p>
				</div>

				<div class="col-md-3">
					<img src="https://static-s.aa-cdn.net/img/ios/557161076/ecd56a8ef7b9888ccf6f7b250a64c720?v=1"  
					 class="img-fluid d-flex justify-content-center lineupImg">
						
					<p class="d-flex justify-content-center mt-4" style="font-size: 90%;">Picture Dictionary
					</p>
				</div>
			</div>
			


			<br> <br>

		</section>

		<hr class="mid-hori my-5">

		<section style="width: 90%; margin: 0 auto;">
			<div class="mb-h">
				<h4 id="7" class="engAtHome" style="color: #116EBF; font-weight: bold;">6. Phần đọc sách</h4> 
				<br>
				<p>Quan trọng lắm nhé, mua thật nhiều sách, nhiều chủ đề phù hợp, bạn có thể mua ở nhà sách hoặc trên mạng và thiết lập giờ đọc sách cùng bé hàng tuần thậm chí hàng ngày. 
					<br>
					Bạn cũng có thể cho bé đọc sách ở các kênh trên youtube, nghe âm thanh và đọc chữ luôn, có rất nhiều loại phù hợp sở thích, trình độ và tuổi của bé, từ nhỏ tới lớn.
					<br>
					Nhân tiện, bạn hãy vào <a href="https://www.youtube.com/channel/UC51keK2ErNAHOyimKeAAEOg" style="color: blue;"> kênh youtube READING WITH TONY</a>, hãy đọc sách cùng TONY nhé! Hi vọng Tony có thể truyền cảm hứng đọc sách tiếng Anh cho các bạn nhỏ!
				</p>
			</div>
			<br>

			<div style="text-align: center;">
				<iframe width="672" height="378" src="https://www.youtube.com/embed/sjctoRXXEx0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p style="font-size: 90%;" class="mt-4"><i><a href="https://www.youtube.com/c/READINGWITHTONY/featured">Kênh Youtube Official của READING WITH TONY.</a></i></p>
			</div>
			
			<br>



			<br> <br>

		</section>


		<hr class="mid-hori">

		<section class="pageContent" >
			
			<p id="introText" style="text-align: left; font-weight: bold;">
				 Vậy bạn hãy dành thời gian ngồi xem và “học cùng, chơi cùng, thực hành cùng bé”. Dĩ nhiên bạn cho con đi học ở một trung tâm để có cơ bản và tiến độ đều đặn, nhưng nếu bạn tạo được một môi trường tràn ngập tiếng Anh ở nhà, quan tâm, khuyến khích và đồng hành cùng bé (nếu bạn không biết tiếng Anh cũng không sao đâu, có các “thầy cô trên mạng” giúp bạn rồi).
				<br /><br />
				Mình chúc các bạn đồng hành vui vẻ cùng con và thành công!



			</p>
			
		</section>



		</div>

		<div class="col-md-4 order-first">

			<div class="menulist">
				<h4 style="color: #116EBF; font-weight: bold;">Mục lục:</h4>
				<a href="/english-at-home#1">Lời Tâm Sự từ cô Khanh</a>
				<p>Các phương tiện học tiếng Anh tại nhà:</p>
				<ol>
					<li><a href="/english-at-home#2">Kênh Youtube</a></li>
					<li><a href="/english-at-home#3">Video giúp phát triển nghe nói tự nhiên</a></li>
					<li><a href="/english-at-home#4">Phần mềm hoặc kênh học tiếng Anh trên mạng</a></li>
					<li><a href="/english-at-home#5">Kênh tiếng Anh trên TV, phim tiếng Anh trên TV</a></li>
					<li><a href="/english-at-home#6">Phần mềm I-pad cho trẻ nhỏ</a></li>
					<li><a href="/english-at-home#7">Phần đọc sách</a></li>
				</ol>
			</div>
			
		</div>

	</div>

	<hr class="mid-hori mt-4">

		<section class="pageContent" style="width: 80%;">

			<h1 class="bigHeading mb-4">XEM THÊM CÁC BÀI VIẾT KHÁC</h1>
			
			<div class="row " style="margin:0 auto;">
				<div class="col-12 col-md-3 mb-4">
					<div class="card newscard" >
						<a href="/tieu-chi-day-hoc-DWE">
						  <img class="card-img-top img-fluid" src="images/dw-icon.png" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Tiêu chí dạy học của trung tâm</h5>
						  </div>
						</a>
					</div>
				</div>

				<div class="col-12 col-md-3 mb-4">
					<div class="card newscard" >
						<a href="/loi-ich-hoc-tieng-anh-som">
						  <img class="card-img-top img-fluid" src="https://cdn.cdnparenting.com/articles/2018/07/712919656-H-768x525.jpg" alt="Card image cap">
						  <div class="card-body">
						    <h5 class="card-title">Lợi ích của việc học tiếng Anh sớm</h5>
						  </div>
						</a>
					</div>
				</div>
				
			</div>



		</section>
		
		


	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>