<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/stock2.jpg" ></header>


	<div class="container-fluid mt-5">

	<div class="row">

		<div class="col-md-9">
			<section class="pageContent" >
				<h1 class="bigHeading">TIÊU CHÍ DẠY, HỌC VÀ CAM KẾT CỦA TRUNG TÂM</h1>
				<h3><i>Phụ huynh cần xem xét và cân nhắc trước khi quyết định cân nhắc học</i></h3>
				<br><br>

				<div style="text-align: left; padding: 5%">
					
				
				
					<h3 style="color: #116EBF;"><b > 1. TIÊU CHÍ DẠY VÀ HỌC CỦA TRUNG TÂM</b></h3> <br>
						<ul>
							<li>Chương trình học được xây dựng theo tiêu chuẩn đánh giá của đại học Cambridge, giúp các em được đánh giá khả năng ngôn ngữ tiếng anh ở cấp độ nào theo chuẩn khung châu Âu. Giúp phụ huynh biết thời gian đầu tư cho con mình là bao lâu.</li>
							<li>Chương trình Cambridge được thiết kế theo cách học ngôn ngữ để ứng dụng trong đời sống và nhu cầu thi lấy chứng chỉ quốc tế.</li>
							<li>Chương trình học của trung tâm được xây dựng riêng, không bám sát hoàn toàn theo chương trình tiếng anh ở trường phổ thông, chỉ bổ trợ thêm chương trình tiếng anh phổ thông; vì vậy, Trung tâm sẽ không  nhận học sinh có mong muốn học đúng theo chương trình phổ thông để làm tốt các bài kiểm tra trong trường.</li>
							<li>Chương trình học được xây dựng theo nhiều cấp độ; vì vậy, các em phải được kiểm tra đánh giá đầu vào để được xếp lớp đúng với học lực các em, nhằm giúp các em yêu thích môn học, học chắc, hiệu quả và tiến bộ nhanh. </li>
							<li>Chương trình học theo lộ trình dài, được thiết kế để học ngôn ngữ phát triển bền vững, không thiết kế theo lộ trình tắt, ngắn theo kiểu luyện thi lấy chứng chỉ. Vì vậy, ở mỗi cấp độ, học sinh phải học đúng và đủ thời lượng chương trình. Trong trường hợp phụ huynh có nhu cầu lấy chứng chỉ cấp bách mà các em chưa hoàn thành thời lượng chương trình, trung tâm sẽ không có trách nhiệm cắt giảm chương trình đang học để luyện thi theo yêu cầu cá nhân của phụ huynh. (Tuy nhiên phụ huynh có thể cho con em mình tiếp tục học để lấy kiến thức ngôn ngữ ở trung tâm, đồng thời gởi con em mình đến chỗ luyện thi khác trong tình huống cần chứng chỉ cấp bách).</li>
							<li>Chương trình học được thiết kế dạy theo 4 kỹ năng nghe nói đọc viết, có giáo trình riêng và có kế hoạch giảng dạy từng buổi cho toàn lớp rõ ràng, không thiết kế dạy ôn thi cá nhân theo bài kiểm tra ở trường phổ thông. Vì vậy, Trung tâm cũng sẽ từ chối trong trường hợp phụ huynh mong muốn ôn tập cho con em mình theo bài kiểm tra ở chương trình phổ thông. </li>
							
						</ul>
						<br>
						<hr class="mid-hori">
						<br> <br>
					
					<h5><b >TÓM TẮT:</b></h5> <br>
					<p>Chương trình học của trung tâm được xây dựng theo tinh thần học nền tảng, bền vững và hiệu quả nhằm mục đích học sinh ứng dụng ngôn ngữ được học vào đời sống; đồng thời có thể thi lấy chứng chỉ quốc tế theo tiến độ học. Chương trình học không nhằm nhu cầu ôn luyện để thi kiểm tra ở trường phổ thông.  Vì vậy, phụ huynh phải đọc kỹ và nắm kỹ chương trình học tại trung tâm trước khi phụ huynh quyết định đăng kí học cho con em mình.  </p>

					<br>

					<h3 style="color: #116EBF;"><b > 2. CAM KẾT </b></h3> <br>
						<ul>
							<li>Trung tâm thu học phí thấp so với mặt bằng chung, thu từng tháng để tạo điều kiện học sinh theo học lâu dài. </li>
							<li>Trung tâm đề ra nguyên tắc và nội qui nhằm giúp học sinh vào qui củ và có thái độ học tập nghiêm túc.</li>
							<li>Trung tâm thực hiện nghiêm túc trong việc đánh giá chất lượng học lực của học sinh sau mỗi khóa học; giúp các em học đúng lớp, đạt được kết quả học tốt.</li>
							<li>Trung tâm thực hiện dạy đúng tiến độ chương trình học; giúp các em có đủ ngôn ngữ thi lấy chứng chỉ theo từng cấp độ.</li>
							<li>Trung tâm có nhiệm vụ thông báo, hướng dẫn và đăng kí thi  lấy chứng chỉ quốc tế cho học sinh.</li>
							<li>Khi hoàn tất cấp độ PET, các em đủ tự tin giao tiếp với người nước ngoài. Các em có đủ ngôn ngữ tiếng anh để đọc hiểu, nghiên cứu ngành học chuyên môn bằng tiếng anh ở đại học và đủ ngôn ngữ để đi làm.</li>
						</ul>
						<br>

				</div>

			</section>

		</div>
		

		<div class="col-md-3" style=" width: 80%; margin: 3% auto;" >
			<div class="card newscard">
				<a href="/loi-ich-hoc-tieng-anh-som">
				  <img class="card-img-top" src="https://cdn.cdnparenting.com/articles/2018/07/712919656-H-768x525.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Lợi ích của việc học tiếng Anh sớm</h5>
				    <p class="card-text">Ở trẻ em, tư duy ngôn ngữ là tư duy sớm nhất. Trẻ con thường học theo...</p>
				  </div>
				</a>
			</div>

			<br>
			<br>

			<div class="card newscard" >
				<a href="/english-at-home">
				  <img class="card-img-top" src="https://image.freepik.com/free-vector/home-study-room-with-books_25030-38997.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Cha mẹ hãy giúp bé phát triển ở nhà!</h5>
				    <p class="card-text">Mình đã tạo môi trường tràn ngập tiếng Anh ở nhà, giúp bé Tony nhà mình...</p>
				  </div>
				</a>
			</div>
			
		</div>

	</div>

	<hr class="mid-hori">
		
		


	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>